:root {
    --bg-color: hsl(212, 19%, 15%);
    --pr-color: hsl(0, 0%, 93%);
    --pr-color-trans: hsla(0, 0%, 93%, 60%);
    --typewriterSpeed: 6s;
    --typewriterCharacters: 32;
  }
  
  body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    min-height: 100vh;
    display: grid;
    place-content: center;
    text-align: center;
    background: var(--bg-color);
  }
  
  h1 {
    color: var(--pr-color);
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    position: relative;
    font-family: "Source Code Pro", monospace;
    position: relative;
    width: max-content;
  }
  
  h1::before,
  h1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  h1::before {
    background: var(--bg-color);
    animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards;
  }
  
  h1::after {
    width: 0.125em;
    background: var(--pr-color);
    animation: typewriter var(--typewriterSpeed)
        steps(var(--typewriterCharacters)) 1s forwards,
      blink 750ms steps(var(--typewriterCharacters)) infinite;
  }
  
  .subtitle {
    padding: 0;
    margin: 0;
    color: var(--pr-color-trans);
    font-size: 3rem;
    font-weight: 400;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
  }

  .maintenance {
    padding: 1em;
    font-family: "Source Code Pro", sans-serif;
    font-weight: bold;
    display: flex;
    color: var(--pr-color-trans);
    flex-direction: column;
    position: absolute;
    bottom: 0;
   
  }
  .maintenance img {
    width: 20em;
  }
  
  @keyframes typewriter {
    to {
      left: 100%;
    }
  }
  
  @keyframes blink {
    to {
      background: transparent;
    }
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  